<div class="container">
<%= form_tag institutes_path  do %>
<label>Name:</label>
<%= text_field_tag :name %>
<label>Address:</label>
<%=text_field_tag :address %>
<label>City:</label>
<%=text_field_tag :city %>
<label>Url:</label>
<%=text_field_tag :url %>
<%=submit_tag %>
<% end %>
</div>