<div class="container">
   <div class="row">
      <% @institutes.each do |institute|%>
    
             <div class="col-sm-6">
        
               <div class="thumbnail">
                      <%=institute.name %><br>
                      <%=institute.address %><br>
                      <%=institute.city %><br>
                      <%= institute.phone %><br>
                      <%= institute.url %><br>
                </div>
            </div>
      <%end%>
    </div>
</div>
