<div class="container">
  <div class="row ">
    <%@courses.each do |course| %>
      <div class="col-sm-6 ">
           <div class="thumbnail text-justify  ">
              <%if @education %>
                <strong>Course Name: </strong><%=link_to course.name,education_course_path(@education,course)%><br>
               <%else%>
                 <strong>Course Name: </strong><%=link_to course.name,course_path(course)%><br>
              <%end%>

                <strong>Course Description:</strong> <%= course.course_description %><br>
                <strong>Total Cost: </strong><%= course.cost_total %><br>
                <strong> Course duration:</strong> <%= course.duration %><br>

                <%if !course.institute.nil?%>
                  <strong> Institute Name: </strong> <%= course.institute.name %><br>
                  <%end%>
                <%if  !course.education.nil?%>
                    <strong> Education Name: </strong> <%= course.education.name %>
                <%end%>

         </div>
       </div>
      
    <%end%>
   </div> 
</div>

<%if @education %>
<%= link_to "Add New Educations Course" ,new_education_course_path(@education)%>
<%else%>
<%= link_to "Add New Course", new_course_path %>
<%end%>

 
