<div class ="container">
    Course Name: <%=@course.name%><br>
    Course Description: <%= @course.coursedescription %>
    Total Cost:  <%= @course.cost_total %>
    Course duration: <%= @course.duration %>
    Institute Name:  <%= @course.institute.name %>
    Education type : <%= @course.education.name %>

</div>